<h2>New Amenity</h2>

<%= form_for [:admin, @amenity] , html: { multipart: true } do |f| %>
  <%= render 'form', amenity: @amenity, f: f, picture: @picture, document: @document, type: 'new' %>
<% end %>

</div>
