<h2><%= @amenity.name %></h2>

<div class="slideshow">
  <% @amenity.pictures.each_with_index do |picture, index|%>
    <%= image_tag picture.image.url(:medium), class:"img  #{ index != 0 ? '' : 'show'}"%>
  <% end %>
</div>

<p>
  <strong>Description:</strong>
  <%= @amenity.description.html_safe %>
</p>
<%= link_to 'Back', amenities_path %>
