<h1>New Property</h1>

<%= form_for :property , html: { multipart: true } do |f| %>
  <%= render 'form', property: @property, f: f, pictures: @pictures %>
<% end %>

<%= link_to 'Back', properties_path %>
