<section class="section-intro container-fluid">

  <h1>Welcome</h1>
  <div class="home-picture" style="height: 300px; width:500px; float:left">
      Image goes here
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas interdum elementum elementum. Morbi eget diam ac sem feugiat tempor vitae a ipsum. Maecenas efficitur eros velit, eu dictum orci scelerisque ac. Phasellus nec condimentum leo. Suspendisse vel fermentum sapien, ut convallis metus. Donec malesuada velit ex, lobortis laoreet lacus aliquet quis. Proin ac porta purus, sed consectetur sapien. Morbi lobortis pretium nibh, lacinia semper nisl interdum eget. Cras quis eros velit. Vivamus luctus ligula sit amet blandit rutrum. Duis lobortis nunc sapien, at faucibus nunc iaculis sed. Aenean ac feugiat diam, in convallis sem.
  </p><p>

    Phasellus vehicula, dui ac pretium viverra, velit erat rutrum lorem, eget venenatis lectus tellus at libero. Duis dapibus ultrices dui ut bibendum. Nullam iaculis tincidunt maximus. Maecenas iaculis nibh non sagittis vulputate. Vestibulum luctus, lectus finibus placerat placerat, est tellus placerat nulla, quis porttitor ex diam posuere dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque risus mauris, commodo condimentum nunc a, commodo tristique nulla.
  </p>

</section>
<section class="section-features">
  <div class="row">
    <div class="col-md-12">

      <h2>About Us</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class='long-copy'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas interdum elementum elementum. Morbi eget diam ac sem feugiat tempor vitae a ipsum. Maecenas efficitur eros velit, eu dictum orci scelerisque ac. Phasellus nec condimentum leo. Suspendisse vel fermentum sapien, ut convallis metus. Donec malesuada velit ex, lobortis laoreet lacus aliquet quis. Proin ac porta purus, sed consectetur sapien. Morbi lobortis pretium nibh, lacinia semper nisl interdum eget. Cras quis eros velit. Vivamus luctus ligula sit amet blandit rutrum. Duis lobortis nunc sapien, at faucibus nunc iaculis sed. Aenean ac feugiat diam, in convallis sem. Integer quis aliquam nisl. Morbi id dui nisl. Vivamus velit sem, finibus quis leo eget, hendrerit elementum lacus.
      </p>
    </div>
  </div>
</section>

<section class="section-testimonials">
  <div class="row">
    <div class="col-md-12">
      <h2>Testimonials</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
        <blockquote>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas interdum elementum elementum. Morbi eget diam ac sem feugiat tempor vitae a ipsum. Maecenas efficitur eros velit, eu dictum orci scelerisque ac.
          <cite>Alberto Duncan</cite>
        </blockquote>
    </div>
    <div class="col-md-4">
        <blockquote>
          Cras quis eros velit. Vivamus luctus ligula sit amet blandit rutrum. Duis lobortis nunc sapien, at faucibus nunc iaculis sed. Aenean ac feugiat diam, in convallis sem. Integer quis aliquam nisl. Morbi id dui nisl. Vivamus velit sem, finibus quis leo eget, hendrerit elementum lacus.
          <cite>Joana Silva</cite>
        </blockquote>
    </div>
    <div class="col-md-4">
        <blockquote>
          Phasellus vehicula, dui ac pretium viverra, velit erat rutrum lorem, eget venenatis lectus tellus at libero. Duis dapibus ultrices dui ut bibendum. Nullam iaculis tincidunt maximus. Maecenas iaculis nibh non sagittis vulputate. Vestibulum luctus, lectus finibus placerat placerat, est tellus placerat nulla, quis porttitor ex diam posuere dolor.
          <cite>Milton Chapman</cite>
        </blockquote>
    </div>
  </div>
</section>
