<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sevice Request by <%= @user.email %></h1>
    <hr />
    <p>Request:</p>
    <p><%= @service.details%></p>

  </body>
</html>
