<h1>Gallery Page</h1>

<% if @gallery %>
  <% @gallery.pictures.each do |picture|%>
    add photo here
  <% end %>
<% end %>

<% if is_admin? && !@gallery %>
  <%= link_to 'Create a Gallery', @gallery, method: :post %>
<% end %>

<% if is_admin? && @gallery%>
  <%= link_to 'Add Picture', new_gallery_picture_path(@gallery) %>
<% end %>
