<h1>Gallery Page</h1>
<div class="gallery_box">
  <% if @gallery.pictures.any? %>
    <% @gallery.pictures.each do |picture| %>
    <div class="gallery_thumbs">
      <%= link_to picture.image.url, class:"gallery", title:picture.caption, rel:"gallery_1" do %>
      <%= image_tag picture.image.url(:thumb) %>
      <% end %>
    </div>
    <% end %>
  <% end %>
</div>
