<h1>Gallery Page</h1>
<div class="gallery_box">
  <% if @gallery.pictures.any? %>
    <% @gallery.pictures.each do |picture| %>
      <%= link_to picture.image.url, class:"gallery", title:picture.caption, rel:"gallery_1" do %>
        <%= image_tag picture.image.url(:thumb) %>
      <% end %>
    <% end %>
  <% end %>

  <div class="admin-links">
    <% if is_admin? && !@gallery %>
    <%= link_to 'Create a Gallery', @gallery, method: :post %>
    <% end %>

    <% if is_admin? && @gallery%>
    <%= link_to 'Add Picture', new_gallery_picture_path(@gallery) %>
    <% end %>
  </div>
</div>
