// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admin-sidebar{
  padding-top: 5px;
  height: 100%;
  min-height: 100vh;
  border-radius: 10px;
  background-color: #ababab;

}

.admin-links{
  list-style: none;
  padding: 0;
}
.admin-link{
  &:hover{
    text-decoration: none;
  }
}
.admin-item{
  text-align: center;
  font-size: 120%;
  color: #ededed;
  transition: all .5s ease;
  &:hover{
    color:#5e5e5e;
    background-color:#ededed;
  }

}

li.current {
  color:#4e4e4e;
  background-color:#dadada;
  &:before{
    content:'';
    display: inline-block;
    float: left;
    position: relative;
    left: 0px;
    width: 16px;
    height: 32px;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 16px solid #ababab;
  }
  &:after{
    content:'';
    display: inline-block;
    float: right;
    position: relative;
    left: 16px;
    width: 16px;
    height: 32px;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 16px solid #dadada;
  }
}

h2.sidebar-title {
  color:  #ededed;
  font-size: 150%;
  word-spacing: 2px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  &:after {
    display: block;
    height: 2px;
    background-color: #ededed;
    content: '';
    width: 100px;
    margin: 0 auto;
    margin-top: 15px;
  }
}

.admin-table {
  margin: 0, auto;
  min-width: 100%;
  th {
    text-align: center;
    vertical-align: middle;
  }
  td {
    vertical-align: middle;
  }
}

.search-bar {
  margin-top: 10px;
  margin-bottom: 10px;
}
