@media only screen and (max-width: 767px) {
  h1 {
    font-size: 7vw;
  }
  h2 {
    font-size: 6vw;
  }
  h3 {
    font-size: 4.5vw;
  }
  h4 {
    font-size: 4vw;
  }
  h5 {
    font-size: 4vw;
  }
  h6 {
    font-size: 3.5vw;
  }
}

.hidden {
  display: none;
}

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}

.markItUp{
  width: 100%;
}
.markItUpContainer {
  width: 100%;
}
