<h2>User Information</h2>


<div class="input-group search-bar">
  <input type="text" class="form-control" placeholder="Search for Users">
  <span class="input-group-btn">
    <button class="btn btn-primary search-btn" type="button">Search</button>
  </span>
</div>


<table id="infoTable" class="tablesorter admin-table table table-striped table-hover text-center">
  <thead class="">
    <tr class="table-info">
      <th>ID</th>
      <th class="text-left">LogIn Email</th>
      <th>Admin?</th>
      <th>Service Requests</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="user-index">

    <%= render "index" %>
  </tbody>
</table>

<div id="user-modal" class="modal fade"></div>
