<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Edit Property <%= @property.name %></h3>
    </div>
    <%= form_for [:admin, @property] , html: { multipart: true } do |f| %>
      <%= render 'form', property: @property, document: @document, f: f, picture: @picture, type: "edit" %>
    <% end %>
  </div>
</div>
