<h2>Properties Information</h2>

<div class="messages"></div>

<div class="input-group search-bar">
  <input type="text" class="form-control" placeholder="Search for Property">
  <span class="input-group-btn">
    <button class="btn btn-primary search-btn" type="button">Search</button>
  </span>
</div>


<table id="infoTable" class="tablesorter admin-table table table-striped table-hover text-center">
  <thead class="">
    <tr class="table-info">
      <th>ID</th>
      <th class="text-left">Property Name</th>
      <th>Description</th>
      <th>Available?</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="property-index">

    <%= render "index" %>
  </tbody>
</table>

<%= link_to "Add New Property", new_admin_property_path, class:"btn btn-primary", remote: true %>

<div id="property-modal" class="modal fade"></div>
