<h2>New Property</h2>

<%= form_for [:admin, @property] , html: { multipart: true } do |f| %>
  <%= render 'form', property: @property, f: f, picture: @picture, document: @document, type:"new"%>
<% end %>

</div>
